body {
	background-color: #6C7A68;
	font-family: sans-serif;
}

.topcont {
	width: 950px;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
	background-image: url('img/cont-top.png');
	min-height: 34px;
}

.bottom {
	width: 950px;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
	background-image: url('img/cont-bottom.png');
	height: 34px;
	min-height: 34px;
}

.main {
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
	width: 900px;
	background-color: #fff;
	margin-left:auto;
	margin-right:auto;
}

.header {
	width: 100%;
	height: 100px;
	background-color: #A64724;
	background-image: url('img/header-grad.png');
	background-repeat: repeat-x;
}

.header h1 {
	font-size: 2.5em;
	padding-top:15px;
	padding-bottom:0px;
	padding-left:30px;
	padding-right:10px;
	color: #333;
}

.header .subtitle{
	color: #333;
	font-size: 1.2em;
	font-weight:normal;
	margin-top:-30px;
	padding-left:50px;
	padding-bottom: 10px;
	}

.nav {
	background-color: #D9942C;
	width: 100%;
	height: 35px;
	color: #F9B44C;
	font-weight: bold;
	vertical-align: top;
	font-size: 1.4em;
	text-transform: uppercase;
}

.nav .links {
	padding-top:2px;
	padding-left: 20px;
}

.nav .links a {
	color: #555;
	font-size: 0.65em;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
}

.nav .links a:hover {
	color: #777;
}